@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  50% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}
@keyframes floating {
  0% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  50% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scaleX(0.5) scaleY(0.5);
            transform: scaleX(0.5) scaleY(0.5);
  }
  100% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scaleX(0.5) scaleY(0.5);
            transform: scaleX(0.5) scaleY(0.5);
  }
  100% {
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
  }
}

button.register__button:hover {
  background-color: #FFFFFF;
  color: #FB8F1D;
}

button.register__button:hover:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

button.login__button:hover {
  background-color: #FB8F1D;
  color: #FFFFFF;
}

.read__more:hover {
  font-weight: 100;
}

a.nav__header:hover {
  text-decoration: underline;
}

a.nav__header#home:hover {
  text-decoration: underline;
}

.view__all:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #FB8F1D;
          text-decoration-color: #FB8F1D;
}

.download__btn:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.download__btn:hover {
  font-weight: 100;
  border-color: #FB8F1D;
  color: #FB8F1D;
  background-color: #FFFFFF;
}

button.login__button:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

header {
  width: 100%;
  left: 0;
  top: 0;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 35px;
  max-width: 1200px;
}

button.login__button, button.register__button {
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #FB8F1D;
  font-weight: 500;
  font-size: 15px;
  line-height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FB8F1D;
  background-color: #FFFFFF;
  width: 132px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  font-family: Inter;
}

button.register__button {
  margin-left: 30px;
  background-color: #FB8F1D;
  color: #FFFFFF;
}

.header__burger {
  display: none;
}

nav.header__menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  min-width: 347px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 39.83871%;
          flex: 0 0 39.83871%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 347px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Inter';
}

a.nav__header#home {
  color: black;
  font-weight: 500;
  text-decoration: none;
}

a.nav__header {
  color: #B8BECD;
  font-weight: 400;
  text-decoration: none;
}

img.yelow__circle {
  z-index: 2;
  left: 51.1vw;
  top: 3.3vw;
  position: absolute;
}

.intro__tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  max-width: 420px;
  margin: 0;
  font-family: 'Playfair Display', serif;
}

.intro__subtext {
  font-family: 'Mulish', sans-serif;
  max-width: 400px;
  height: 90px;
  font-size: 17px;
  line-height: 30px;
  font-weight: 300;
  color: #7D7987;
  font-weight: 300;
  margin: 0;
  margin-top: 20px;
}

.download__btn {
  border: 1px solid #FB8F1D;
  width: 164px;
  height: 48px;
  background: #FB8F1D;
  border-radius: 8px;
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  border-color: #FFFFFF;
  mix-blend-mode: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 39px;
  cursor: pointer;
  font-family: Inter;
}

.intro {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
}

.intro__text {
  margin-top: 150px;
}

.thousand__photo {
  max-width: 599px;
  max-height: 542px;
  margin-right: 80px;
  -webkit-animation: floating 12s linear infinite;
          animation: floating 12s linear infinite;
}

.section__two {
  background-color: #F8F8F8;
  height: 774px;
}

.home__header {
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 145px;
  margin-top: 0;
}

.home__subtitle {
  max-width: 420px;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  font-family: Mulish;
  margin-top: 30px;
  margin-bottom: 40px;
}

.home__avtor {
  font-size: 22px;
  line-height: 48px;
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0;
  font-family: Inter;
}

.home__founder {
  font-size: 18px;
  line-height: 48px;
  font-weight: 400;
  margin-top: 0;
  font-family: Inter;
}

.home__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 115px;
}

.home__icons {
  max-width: 25,12px;
  max-height: 23,95px;
}

.home__text {
  margin-top: 79px;
  margin-left: 150px;
}

.image__6 {
  border-radius: 10px;
  margin-top: 10em;
  margin-right: 11.8vw;
  -webkit-animation: scale 5s 1;
          animation: scale 5s 1;
}

.section__three .container {
  width: 100%;
  height: 870px;
}

.slider__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1230px;
  margin: 0 auto;
  margin-top: 150px;
  text-align: center;
}

.slide__header {
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 0;
  margin-top: 0;
  font-family: 'Playfair Display';
}

.view__all {
  color: #FB8F1D;
  font-weight: 600;
  font-size: 17px;
  line-height: 60px;
  text-decoration: none;
}

.slide__title {
  font-size: 19px;
  font-weight: 700;
  line-height: 30px;
  font-family: Inter;
  max-width: 270px;
}

.slide__title#first {
  max-width: 250px;
}

.slide__subtext {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  max-width: 270px;
  color: #7D7987;
  margin-bottom: 23px;
  font-family: Inter;
}

.slide__subtext#first {
  max-width: 240px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 1230px;
  margin-top: 56px;
}

.slide__images {
  width: 100%;
  height: 100%;
  width: 270px;
  max-height: 240px;
  border-radius: 10px 10px 0 0;
}

.read__more {
  margin-top: 50px;
  color: #FB8F1D;
  font-weight: 600;
  font-size: 15px;
  line-height: 28px;
  text-decoration: none;
  font-family: Inter;
}

.footer {
  height: 195px;
  background-color: #F8F8F8;
}

.footer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1230px;
  margin: 0 auto;
}

.footer__title {
  color: #848484;
  font-weight: 300;
  font-size: 17px;
  line-height: 28px;
  margin-top: 40px;
  margin-bottom: 0;
  font-family: Mulish;
}

.footer__logo {
  margin-top: 31px;
}

.footer__line {
  width: 1220px;
  height: 0.6px;
  color: #C4C4C4;
  background-color: #C4C4C4;
  margin-top: 35px;
  margin-bottom: 30px;
  border: none;
}

.footer__icons {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  max-width: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  .intro {
    margin: 0 20px 0 20px;
  }
  .intro__photo {
    margin-right: 0;
  }
  .buttons {
    padding-right: 40px;
  }
  .thousand__photo {
    margin-right: 0;
  }
  @-webkit-keyframes floating {
    0% {
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
    }
    50% {
      -webkit-transform: translateY(120px);
              transform: translateY(120px);
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    100% {
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
    }
  }
  @keyframes floating {
    0% {
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
    }
    50% {
      -webkit-transform: translateY(120px);
              transform: translateY(120px);
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    100% {
      -webkit-transform: translateY(30px);
              transform: translateY(30px);
    }
  }
  .section__two {
    height: 100%;
  }
  .header__body {
    max-width: 100%;
  }
  .image__6 {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .main__text {
    margin-left: 0;
  }
  .section__three {
    height: 100%;
  }
  .slider__header {
    margin-left: 15px;
    margin-right: 15px;
  }
  .slider {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-bottom: 30px;
  }
  .slide {
    margin: 10px 10px 0 10px;
  }
  .section__three .container {
    height: 100%;
  }
  .footer__line {
    max-width: 100%;
  }
  .footer {
    max-width: 100%;
    height: 100%;
  }
  .footer__header {
    max-width: 98%;
  }
  .footer__icons {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .intro__text {
    margin-top: 100px;
  }
  .buttons {
    padding-right: 20px;
  }
  .nav-ul {
    padding-left: 20px;
  }
  .thousand__photo {
    width: 100%;
    height: 100%;
  }
  .home__text {
    margin-left: 0;
  }
}

@media screen and (max-width: 819px) {
  .image__6 {
    margin-top: 10px;
    text-align: center;
  }
  .main__header {
    margin-bottom: 20px;
  }
  .slider__header {
    margin-top: 50px;
  }
  .home__header {
    margin-bottom: 20px;
  }
  .home__text {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    -ms-grid-columns: none;
        grid-template-columns: none;
  }
  .intro__text {
    text-align: center;
  }
  .intro__tittle {
    margin: auto;
  }
  .intro__subtext {
    margin: auto;
    margin-top: 10px;
  }
  body.lock {
    overflow: hidden;
  }
  button.login__button, button.register__button {
    display: none;
  }
  .header__body {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: #FFFFFF;
    margin-top: 0;
    left: 0;
    border-radius: 0 0 20px 20px;
  }
  .header_logo {
    margin-left: 15px;
  }
  .header__burger {
    display: block;
    position: fixed;
    width: 30px;
    height: 20px;
    z-index: 6;
    top: 20px;
    right: 3%;
  }
  .header__burger span {
    position: absolute;
    background-color: #FB8F1D;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    content: '';
    background-color: #FB8F1D;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: 0;
  }
  .header__burger::after {
    content: '';
    background-color: #FB8F1D;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    bottom: 0;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5b877;
    z-index: 2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__menu.active {
    top: 0;
  }
  .nav-ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0;
    height: 35%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  a.nav__header#home, a.nav__header {
    color: #FFFFFF;
    font-size: 25px;
  }
  .main__text {
    text-align: center;
  }
}

@media screen and (max-width: 425px) {
  .slider__header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .slider {
    margin-top: 25px;
  }
  .footer__header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .footer__title {
    text-align: center;
    margin-top: 20px;
  }
  .footer__logo {
    margin-top: 20px;
  }
  .image__6 {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */