@import "templates";
@keyframes floating {
    0% {
      transform: translateY(50px);
    }
  
    50% {
      transform: translateY(150px);
      transform: translateX(100px);
    }
  
    100% {
      transform: translateY(50px);
      
    }
}

@keyframes scale {
    0% {
      transform: scaleX(0.5) scaleY(0.5);
      }
    100% {
      transform: scaleX(1) scaleY(1);
      }
}

button.register__button {
	&:hover { background-color: $secondary-color;
	color: $primary-color;
	&:active {
		transform: scale(0.98);
	}
}

}
button.login__button {
	&:hover {
		background-color: $primary-color;
		color: $secondary-color;
	}
}
.read__more {
	&:hover {
		font-weight: 100;
	}
}
a.nav__header {
	&:hover {
		text-decoration: underline;
	}
}
a.nav__header#home {
	&:hover {
		text-decoration: underline;
	}
}
.view__all {
	&:hover { text-decoration: underline;
	text-decoration-color: $primary-color;
    }
}
.download__btn {
	&:active {
		transform: scale(0.98);
	}
	&:hover {
		font-weight: 100;
		border-color: $primary-color;
		color: $primary-color;
		background-color: $secondary-color;
	}
}
button.login__button {
	&:active {
		transform: scale(0.98);
	}
}
